@import "tailwindcss";

@theme {
    --color-cream: #FAF7F2;
    --color-espresso: #2C1810;
    --color-terracotta: #C4622D;
}

.scroll-indicator{
    position: relative;
    width: 1px;
    height: 52px;
    margin-top: 5rem;
    background-color: rgba(250, 247, 242, .35);
    overflow: hidden;
}
.scroll-indicator span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: #faf7f2;
    border-radius: 9999px;
    transform: translateX(-50%);
    animation: scroll-dot 2.2s ease-in-out infinite;
}
@keyframes scroll-dot {
    0% {
        top: 0;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100%{
        top: 46px;
        opacity: 0;
    }
}